name: billings-PostgreSQL

services:
    postgres:
        image: postgres:18.1-alpine3.23
        container_name: billings_db
        restart: always
        environment: 
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: billings
        ports: 
            - "5432:5432"
        volumes:
            - ./data/split_data:/data
            - ./data/pg-data:/var/lib/postgresql/data
            - ./init.sql:/docker-entrypoint.initdb.d/init.sql

    pgadmin:
        image: dpage/pgadmin4:latest
        container_name: pgadmin
        restart: always
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
        ports:
            - "5050:80"
        depends_on:
            - postgres

